*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
src/core/host/bin/ipfs/win/ipfs.exe filter=lfs diff=lfs merge=lfs -text
src/core/host/bin/ipfs/linux/ipfs filter=lfs diff=lfs merge=lfs -text
