/.idea/
/.vscode/
*.class
*.iml
*.out
*.syso
*.key
*.pem
*.cer
*.cert
*.p12
.htpasswd
.aws/credentials
.gcloud/
*.sqlite
*.sqlite3
*.log
.log
temp/*
tmp/*
/.env/
.env
*.env.*
process.env
environment.d.ts
credentials.json
*.pyc
__pycache__/
/.DS_Store/
*.DS_Store
*/.DS_Store
/target/
main.exe
yarn.lock
yarn-error.log
package-lock.json
/node_modules/
/src/www/js/
/src/www/tinymce/
/src/core/host/bin/helper/*
base_logs.txt
*kubeconfig.yaml
nil
nul
null
ull
/resources/sass-migrator/*
identifier.sqlite
*.pkg
/resoures/osx/certs/*
/src/www/fonts/
/github_secrets/
test_build