/.idea/
/.vscode/
*.class
*.iml
*.out
*.syso
/.env/
/.DS_Store/
*.DS_Store
*/.DS_Store
/target/
main.exe
yarn.lock
yarn-error.log
package-lock.json
/node_modules/
/src/www/js/
/src/www/tinymce/
/src/core/host/bin/helper/*
base_logs.txt
*kubeconfig.yaml
nil
nul
null
ull
/resources/sass-migrator/*
identifier.sqlite
*.pkg
*.cer
/resoures/osx/certs/*
/src/www/fonts/