@use "sass:map";
@use "../global.scss";
@use "../tinymce.scss";

#addPostModal .modal-body {
  position: relative;
}
#addPostButton {
  width: 3.7em;
  height: 3.7em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: var(--yp-quaternary);
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border-radius: 4em;
}
.addPostPlus {
  margin: 0 auto;
  position: absolute;
  background-color: map.get(global.$colors, "tertiary");
}
.horizontal {
  width: 60%;
  height: 10%;
  left: 20%;
  top: 45%;
}
.vertical {
  width: 10%;
  height: 60%;
  left: 45%;
  top: 20%;
}
.attachmentUploadGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  gap: 1em;
  max-height: 15.5em;
  overflow: auto;
  @include global.dark-scrollbar;
}
.attachmentUploadGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 10em;
  height: 7em;
  background: global.$primary;
  border-radius: 1em;
  position: relative;
}
.attachmentIcon {
  font-size: 3em;
}
.attachmentImagePreview {
  max-width: 90%;
  max-height: 4em;
  object-fit: contain;
  border-radius: 0.5em;
}
.removeIcon {
  font-size: 1em;
  color: global.$secondary;
  -webkit-text-stroke-width: 0.1em;

}
.removeButton {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
}
.removeButton:hover {
  background: #808080;
}
.fileNameSpan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 95%;
}
#addPostText {
  width: 100%;
  height: 7em;
}
.tinymce-spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}
#addPostControls {
  width: 100%;
  padding-top: 7px;
  height: fit-content;
}
#savedPostCheckboxDiv {
}
#savedPostCheckbox {
  cursor: pointer;
}
#postBtnRow {
  max-width: 30%;
  float: right;
}
#submitPostButton {
  position: relative;
  width: 4em;
  height: 2em;
  float: right;
  font-size: 25px;
}
#postDropdownMenu {
  padding: 0.3em;
  border-color: map.get(global.$colors, "primary");
  border-width: 1px;
}
#algoLogo {
  height: 20px;
  width: 15px;
  text-align: center;
  padding-bottom: 6px;
}
#postCost {
  padding-left: 5px;
  font-size: 20px;
}
#btnUploadFile {
  width: 7.1em;
  height: 1.5em;
  padding: 0;
}
#uploadFileBtnImg {
  padding-right: 3px;
}
#spiceometerDiv {
  right: 0.65em;
  top: 25.85em;
  height: 1.9em;
  width: 6em;
  padding: 0;
}
#spiceometerText {
  font-size: 1.1em;
  margin-bottom: 0;
}
@media(max-width: 704px) {
  #addPostButton {
    border: 2px solid map.get(global.$colors, "tertiary");
    z-index: 1000;
  }
  .addPostPlus {
    border: 1px solid map.get(global.$colors, "tertiary");
  }
}
