@use "../global";

#modalLoginTitle {
  padding-bottom: 10px;
}
.btn-login-wallet {
  margin-bottom: 5px;
}
.wallet-logo {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}
#loginTxnQuestionBtn {
  margin-top: 10px;
}
#loginTxnResendBtn {
  margin-left: 10px;
  margin-top: 10px;
}
.-cbwsdk-snackbar {
  margin-top: 5em !important;
  margin-right: calc( 50% - 120px) !important;
}
