@use "../global";

#modalYesNoFooter {
  border-top: none;
  justify-content: center;
}
#modalYesButton {
  width: 5em;
  background-color: global.$success-bg-subtle;
}
#modalNoButton {
  width: 5em;
  background-color: global.$danger-bg-subtle;
}