@use "../global";

#modalYesNoBody.modalYesNoBodyCentered {
  text-align: center;
}

#modalYesNoFooter {
  border-top: none;
  justify-content: center;
}
#modalYesButton {
  width: 5em;
  --yp-quaternary: var(--yp-success);
}
#modalNoButton {
  width: 5em;
  --yp-quaternary: var(--yp-danger);
}
