@use "sass:map";
@use "../global";

.profileCard {
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 2px solid transparent;
  border-radius: 0.5em;
  transition: border-color 0.2s ease;
}
.profileCard:hover {
  cursor: pointer;
  border-color: map.get(global.$colors, "quaternary");
}
.profileCardAvatar {
  border-radius: 0.3em;
  position: relative;
  padding: 0;
  margin: 0 0.5em 0 0.1em;
  width: 4em;
  height: 4em;
  float: left;
  object-fit: cover;
}
.profileCardIdentity {
  float: left;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.profileCardName {
  font-weight: bold;
  color: map.get(global.$colors, "text");
}
.profileCardAddress {
  font-size: 0.7em;
  color: map.get(global.$colors, "text");
  opacity: 0.8;
}
.profileCardDescription {
  text-align: justify;
  padding: 5px;
  margin-top: 1.7em;
  clear: both;
}
.profileCardDescription:empty {
  padding: 0;
  margin-top: 0;
}