{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
{{template "modalDialog" .}}
{{template "modalYesNo" .}}
{{template "toast" .}}
{{template "modalFileUpload" .}}
<div class="modal" id="modalFileRename" tabindex="-1" aria-labelledby="modalFileRenameTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFileRenameTitle">Rename File</h5>
            </div>
            <div class="modal-body">
                <div class="modalBodyLeft">
                    <div class="filesRenameCurrentName">Current: <span id="modalFileRenameCurrentName"></span></div>
                    <label class="form-label" for="modalFileRenameBaseName">New Name</label>
                    <div class="input-group filesRenameInputGroup">
                        <input type="text" class="form-control" id="modalFileRenameBaseName" autocomplete="off">
                        <span class="input-group-text filesRenameExtension" id="modalFileRenameExtension"></span>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary d-inline-flex align-items-center justify-content-center gap-2" id="modalFileRenameSubmit">
                            <i class="bi bi-pencil-square filesRenameSubmitIcon"></i>
                            <span>Rename File</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalFileInfo" tabindex="-1" aria-labelledby="modalFileInfoTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFileInfoTitle">File Info</h5>
            </div>
            <div class="modal-body">
                <div class="modalBodyLeft">
                    <div id="modalFileInfoBody" class="filesInfoBody"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="filesPage">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="filesHeader">
                <div class="filesTitleWrap">
                    <a class="filesAvatarLink" href="/p/{{ .injectedBlockchain }}/{{ .injectedAddress }}" aria-label="Back to profile">
                        <img id="filesAvatar" class="filesAvatar" src="/static/image/avatar.svg" alt="profile avatar" crossorigin="anonymous" referrerpolicy="no-referrer">
                    </a>
                    <h1 class="filesTitle">Files</h1>
                </div>
                <div class="filesControls">
                    <input type="search" id="filesSearch" class="form-control" placeholder="Search name or CID">
                </div>
            </div>
            <div class="table-responsive filesTableWrap">
                <table class="table table-hover" id="filesTable">
                    <thead>
                    <tr>
                        <th scope="col" class="filesSortableHeader" data-sort-key="fileName">Name<span class="filesSortArrow"></span></th>
                        <th scope="col" class="filesSortableHeader" data-sort-key="cid">CID<span class="filesSortArrow"></span></th>
                        <th scope="col" class="filesSortableHeader" data-sort-key="mimeType">Type<span class="filesSortArrow"></span></th>
                        <th scope="col" class="filesSortableHeader" data-sort-key="size">Size<span class="filesSortArrow"></span></th>
                        <th scope="col" class="filesSortableHeader" data-sort-key="addedDate">Uploaded<span class="filesSortArrow"></span></th>
                        <th scope="col" class="filesSortableHeader" data-sort-key="visibility">Visibility<span class="filesSortArrow"></span></th>
                        {{if not .isGuest}}<th scope="col">Action</th>{{end}}
                    </tr>
                    </thead>
                    <tbody id="filesTableBody"></tbody>
                </table>
            </div>
            <div id="filesEmptyState" class="filesEmptyState">No Files Uploaded</div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{{if and (not .isGuest) (not .gatewayMode)}}
<button type="button" class="btn grow" id="addFilesButton" data-bs-toggle="tooltip" title="Upload Files" data-bs-placement="left">
    <i class="bi bi-upload addFilesIcon"></i>
</button>
{{end}}
{{template "footer" .}}
<input type="hidden" id="csrfToken" value="{{ .csrfToken }}">
<input type="hidden" id="injectedAddress" value="{{ .injectedAddress }}">
<input type="hidden" id="injectedBlockchain" value="{{ .injectedBlockchain }}">
<input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
<input type="hidden" id="isGuest" value="{{ .isGuest }}">
<input type="hidden" id="gatewayMode" value="{{ .gatewayMode }}">
</body>
</html>
