<html lang="en-US">
<head>
    {{template "header" .}}
    <link href="/static/css/files.css" rel="stylesheet" />
</head>
<body class="body">
<div class="row" id="row1">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        Upload File: <input type="file" id="ipfsUpload" />
        <table id="ipfsFilesTable" class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CID</th>
                <th scope="col">Preview</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="/static/js/files.js" type="application/javascript"></script>
</body>
</html>