{{template "header" .}}
<body class="body">
    {{template "modalDialog" .}}
    <div class="container-fluid">
        <div class="row" id="row1">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="logoDiv">
                    <img id="alphaImg" src="/static/image/alpha.svg" alt="alpha">
                    <a href="https://yourplace.network" rel="noreferrer">
                        <img id="bannerImg" class="clickable cursorPointer"
                             src="/static/image/yourplace-banner-title.svg"
                             alt="YourPlace logo image">
                    </a>
                    <p id="subtitleText">Distributed Social Media</p>
                </div>
                <div id="searchDiv">
                    <div id="searchInputWrapper">
                        <input type="text" id="searchInput" placeholder="Search Places">
                        <button id="searchClearBtn" class="searchClearBtn" style="display: none;">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>
                    </div>
                </div>
                {{template "ads" .}}
                <div id="trendingTopicsDiv"></div>
                <div id="resultsDiv"></div>
                <div id="discoverSection">
                    <div class="discoverRow">
                        <h5 class="discoverRowLabel">Random Profiles</h5>
                        <div class="row" id="discoverRandomRow">
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                        </div>
                    </div>
                    <div class="discoverRow">
                        <h5 class="discoverRowLabel">Most Followed</h5>
                        <div class="row" id="discoverFollowersRow">
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                        </div>
                    </div>
                    <div class="discoverRow">
                        <h5 class="discoverRowLabel">Most Active</h5>
                        <div class="row" id="discoverPostsRow">
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg discoverCol"></div>
                        </div>
                    </div>
                </div>
                <div id="followersFeedSection">
                    <h5 class="discoverRowLabel">Your Feed</h5>
                    <div id="followersFeedControls" class="feedControls">
                        <button id="feedTopBtn" class="btn btn-outline-primary btn-sm" disabled title="Scroll to top">
                            <i class="bi bi-arrow-up"></i> Top
                        </button>
                    </div>
                    <div id="followersFeedDiv" class="feedScrollWindow"></div>
                </div>
            </div>
            <div class="col-sm-1">
                {{template "addPost" .}}
                {{template "htmlMenu" .}}
                {{template "toast" .}}
            </div>
        </div>
    </div>
    {{template "footer" .}}
    <input type="hidden" id="csrfToken" value="{{ .csrfToken }}">
    <input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
</body>
</html>