{{template "header" .}}
<body class="body">
    <div class="container-fluid">
        <div class="row" id="row1">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="logoDiv">
                    <a href="https://yourplace.network" rel="noreferrer">
                        <img id="bannerImg" class="clickable cursorPointer"
                             src="/static/image/yourplace-banner-title.svg"
                             alt="YourPlace logo image">
                    </a>
                    <p id="subtitleText">Distributed Social Media</p>
                </div>
                <div id="searchDiv">
                    <input type="text" id="searchInput" placeholder="Search Places">
                </div>
                {{template "ads" .}}
                <div id="trendingTopicsDiv"></div>
                <div id="resultsDiv"></div>
                <div id="followersFeedDiv"></div>
            </div>
            <div class="col-sm-1">
                {{template "addPost" .}}
                {{template "htmlMenu" .}}
                {{template "toast" .}}
            </div>
        </div>
    </div>
    {{template "footer" .}}
    <input type="hidden" id="csrfToken" value="{{ .csrfToken }}">
    <input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
</body>
</html>