{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
    <div class="container-fluid vh-100">
        <div class="row" id="row1">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="centerColumn">
                <button class="btn btn-primary grow centered mentalHealthBtn" id="emergencyBtn" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Emergency">
                    <i class="bi bi-exclamation-triangle-fill mentalHealthBtnIcon"></i>
                </button>
                <button class="btn btn-primary grow centered mentalHealthBtn" id="play" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Play">
                    <i class="bi bi-play-circle-fill mentalHealthBtnIcon" id="playBtnImg"></i>
                </button>
                <button class="btn btn-primary grow centered mentalHealthBtn" id="pause" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Pause">
                    <i class="bi bi-pause-circle-fill mentalHealthBtnIcon" id="pauseBtnImg"></i>
                </button>
                <button class="btn btn-primary grow centered mentalHealthBtn" id="refreshBtn" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Reload">
                    <i class="bi bi-arrow-clockwise mentalHealthBtnIcon"></i>
                </button>
                <div id="tip" class="centered"></div>
            </div>
            <div class="col-sm-2">
                {{template "modalDialog" .}}
            </div>
        </div>
    </div>
    {{template "footer" .}}
    <input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
</body>
</html>