{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
{{template "modalDialog" .}}
{{template "modalMediaViewer" .}}
    <div class="container-fluid" id="topContainer">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" id="centerColumn">
                <div id="postPageContainer">
                    <div id="postContainer"></div>
                    <div id="commentsSection">
                        <div id="commentsSectionHeader">
                            <h5 id="commentsHeader">Comments</h5>
                            <div id="commentSortControl" class="dropdown">
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="commentSortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-sort-down"></i> Most Liked
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="commentSortBtn">
                                    <li><a class="dropdown-item active" href="#" data-sort="likes">Most Liked</a></li>
                                    <li><a class="dropdown-item" href="#" data-sort="dislikes">Most Disliked</a></li>
                                    <li><a class="dropdown-item" href="#" data-sort="reactions">Most Reacted</a></li>
                                    <li><a class="dropdown-item" href="#" data-sort="recent">Recent</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="commentsContainer"></div>
                    </div>
                </div>
                {{template "scrollTop" .}}
                {{template "addPost" .}}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <input type="hidden" id="postBlockchain" value="{{.blockchain}}">
    <input type="hidden" id="postTxHash" value="{{.txHash}}">
{{template "footer" .}}
</body>
</html>
