{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
{{template "modalDialog" .}}
{{template "modalMediaViewer" .}}
    <div class="container-fluid" id="topContainer">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" id="centerColumn">
                <div id="postPageContainer">
                    <div id="postContainer"></div>
                    <div id="commentsSection">
                        <h5 id="commentsHeader">Comments</h5>
                        <div id="commentsContainer"></div>
                        <div id="loadMoreComments" class="text-center" style="display: none;">
                            <button class="btn btn-outline-secondary" id="loadMoreCommentsBtn">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <input type="hidden" id="postBlockchain" value="{{.blockchain}}">
    <input type="hidden" id="postTxHash" value="{{.txHash}}">
{{template "footer" .}}
</body>
</html>
