{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
{{template "modalDialog" .}}
{{template "modalProfileEdit" .}}
{{template "modalMediaViewer" .}}
    <div class="container-fluid" id="topContainer">
        <div class="row" id="rowBanner">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="centerColumn">
                <!------------ Profile --------------->
                <div id="profileBannerDiv">
                    <img id="profileBanner" src="/static/image/banner.jpg" alt="profile banner image" crossorigin="anonymous" referrerpolicy="no-referrer">
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowAvatarUsername">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="profileDiv">
                    <img id="profileAvatar" src="/static/image/avatar.png" alt="avatar" crossorigin="anonymous" referrerpolicy="no-referrer">
                    <div id="nameDiv">
                        <button id="followBtn" class="btn">
                            <i class="bi-person-plus" id="followImg"></i>
                            <span id="followBtnLabel">Follow</span>
                        </button>
                        <button id="profileEditBtn" class="btn">
                            <i class="bi-pencil-square" id="editImg"></i>
                            <span id="editBtnLabel">Edit</span>
                        </button>
                        <div id="profileNameDiv">
                            {{/* <a href="#" id="profileNameLink"> */}}
                                <div id="profileName">Anonymous</div><div id="profileNameDomain"></div>
                            {{/* </a> */}}
                        </div>
                    </div>
                    <div id="addressDiv">
                        <a href="/p/" target="_blank" id="profileAddressLink">
                            <div id="atSymbol">@</div>
                            <div id="profileAddress" class="clickable">000000...000000</div>
                        </a>
                        <input type="hidden" id="profileAddressFull" value="">
                        <i class="bi bi-copy clickable" id="profileAddressCopy"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowDescription">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="profileDescription"></div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowMeta">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="profileMeta" class="profileMetaRow flex">
                    <div class="metaPair">
                        <i class="iconMeta bi-geo-alt"></i><div id="profileLocation" class="metaText"></div>
                    </div>
                    <div class="metaPair">
                        <i class="iconMeta bi-link-45deg"></i><div class="metaText"><a href="" target="_blank" rel="noopener noreferrer" id="profileWebsite"></a></div>
                    </div>
                    <div class="metaPair">
                        <i class="iconMeta bi-balloon"></i><div id="profileBirthdate" class="metaText"></div>
                    </div>
                    <div class="metaPair">
                        <i class="iconMeta bi-calendar-event"></i><div id="profileJoined" class="metaText"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowStats">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="profileStatsDiv" class="flex">
                    <div class="stat stat1"><div class="statNum" id="followingCount">0</div><div class="statLabel">Following</div></div>
                    <div class="stat"><div class="statNum" id="followerCount">0</div><div class="statLabel">Followers</div></div>
                    <div class="stat"><div class="statNum" id="postsNum">0</div><div class="statLabel">Posts</div></div>
                    <div class="stat"><div class="statNum" id="likesNum">0</div><div class="statLabel">Likes</div></div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowButtons">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div id="profileButtonsDiv" class="row">
                    <button class="navBtn col-sm btn" id="btnPosts">
                        <i class="bi bi-pencil"></i><span class="navBtnTxt">Posts</span>
                    </button>
                    <button class="navBtn col-sm btn" id="btnReplies" aria-describedby="comingsoon-tooltip" disabled>
                        <i class="bi bi-chat-dots"></i><span class="navBtnTxt">Replies</span>
                    </button>
                    <button class="navBtn col-sm btn" id="btnNFTs" aria-describedby="comingsoon-tooltip" disabled>
                        <i class="bi bi-gem"></i><span class="navBtnTxt">Tokens</span>
                    </button>
                    <button class="navBtn col-sm btn" id="btnFiles" aria-describedby="comingsoon-tooltip" disabled>
                        <i class="bi bi-floppy"></i><span class="navBtnTxt">Files</span>
                    </button>
                    <button class="navBtn col-sm btn" id="btnSearch">
                        <i class="bi bi-search"></i><span class="navBtnTxt">Search</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowContent">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <!------------ Post Content --------------->
                <div id="contentDiv">
                    <div class="clickable" id="emptyContentDivPlaceHolder">
                        <div class="placeHolderIconDiv">
                            <i class="bi" id="placeHolderIcon"></i>
                        </div>
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row" id="rowControls">
            <div class="col-sm-1">
                {{template "scrollTop" .}}
            </div>
            <div class="col-sm-10">
                {{template "toast" .}}
            </div>
            <div class="col-sm-1">
                {{template "addPost" .}}
            </div>
        </div>
    </div>
    {{template "footer" .}}
    <!-- Injected Variables -->
    <input type="hidden" id="csrfToken" value="{{ .csrfToken }}">
    <input type="hidden" id="injectedAddress" value="{{ .injectedAddress }}">
    <input type="hidden" id="injectedBlockchain" value="{{ .injectedBlockchain }}">
    <input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
    <input type="hidden" id="isGuest" value="{{ .isGuest }}">
</body>
</html>