{{template "header" .}}
<body class="body">
{{template "htmlMenu" .}}
{{template "modalDialog" .}}
{{template "modalYesNo" .}}
{{template "toast" .}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 centerColumn">
                <h2 class="pageHeader">⚙️ Settings</h2>
                <div class="accordion accordion-flush" id="settingsAccordion"> <!-- Settings Accordion -->
                    <!-- Content -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingContent">
                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent">
                                <i class="bi bi-postcard"></i><b>Content</b>
                            </button>
                        </h2>
                        <div id="collapseContent" class="accordion-collapse collapse" aria-labelledby="headingContent" data-bs-parent="#settingsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="contentItemsAccordion"> <!-- Content Items Accordion -->
                                    <div class="accordion-item" id="filesDiv">
                                        <h2 class="accordion-header" id="headingFiles">
                                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
                                                <b><i class="bi bi-floppy"></i><span>Files</span></b>
                                            </button>
                                        </h2>
                                        <div id="collapseFiles" class="accordion-collapse collapse" data-bs-parent="#contentItemsAccordion">
                                            <div class="accordion-body">
                                            <label for="uploadDirectory" class="form-label">Upload Directory</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="uploadDirectory">
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" id="defaultUploadDirectoryBtn">Default</button>
                                                <button class="btn btn-primary" id="saveUploadDirectoryBtn">Save</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item" id="ipfsPinningDiv">
                                        <h2 class="accordion-header" id="headingIpfsPinning">
                                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIpfsPinning" aria-expanded="false" aria-controls="collapseIpfsPinning">
                                                <b><i class="bi bi-diagram-3"></i><span>IPFS</span></b>
                                            </button>
                                        </h2>
                                        <div id="collapseIpfsPinning" class="accordion-collapse collapse" data-bs-parent="#contentItemsAccordion">
                                            <div class="accordion-body">
                                            <label for="ipfsPinningForm" class="form-label">File Pinning</label>
                                            <a href="/faq#collapseSlow" target="_blank" id="ipfsHelpLink"><i class="bi bi-question-circle" id="ipfsHelp" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="yp-tooltip" data-bs-delay="0" title="Use an IPFS pinning service to accelerate your uploaded files (recommended)"></i></a>
                                            <div class="input-group mb-3" id="ipfsPinningForm">
                                                <input type="text" class="form-control" id="ipfsPinningURL" placeholder="Pinning URL">
                                                <button class="btn btn-outline-secondary dropdown-toggle" id="ipfsPinningUrlBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                <ul class="dropdown-menu dropdown-menu-end" id="ipfsPinningUrlUL">
                                                    <li class="ipfsPinningLI" id="pinataLI"><img src="/static/image/pinata.svg" class="ipfsPinningIcon">Pinata.cloud</li>
                                                </ul>
                                                <input type="text" class="form-control" id="ipfsPinningKey" placeholder="Secret Access Token">
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" id="saveIpfsPinningBtn">Save</button>
                                            </div>
                                            <div id="ipfsNodeLinkDiv">
                                                <a id="ipfsNodeLink" href="http://localhost:42425/webui" target="_blank"><img src="/static/image/ipfs.svg" alt="ipfs" id="ipfsSvg"><span>IPFS Node Management</span></a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item" id="databaseManagementDiv">
                                        <h2 class="accordion-header" id="headingDatabaseManagement">
                                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDatabaseManagement" aria-expanded="false" aria-controls="collapseDatabaseManagement">
                                                <b><i class="bi bi-database"></i><span>Database Management</span></b>
                                            </button>
                                        </h2>
                                        <div id="collapseDatabaseManagement" class="accordion-collapse collapse" data-bs-parent="#contentItemsAccordion">
                                            <div class="accordion-body">
                                            <div id="databaseManagementForm">
                                                <button class="btn btn-primary" id="databaseExportSnapshotBtn">Export Snapshot</button>
                                                <button class="btn btn-primary" id="databaseImportSnapshotBtn">Import Snapshot</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item" id="aiDiv">
                                        <h2 class="accordion-header" id="headingAi">
                                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAi" aria-expanded="false" aria-controls="collapseAi">
                                                <b><i class="bi bi-robot"></i><span>Artificial Intelligence</span></b>
                                            </button>
                                        </h2>
                                        <div id="collapseAi" class="accordion-collapse collapse" data-bs-parent="#contentItemsAccordion">
                                            <div class="accordion-body">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="spiceometerCheck">
                                                <label class="form-check-label" for="spiceometerCheck">Spice-o-Meter 🌶️ Rate the spiciness of your post</label>
                                            </div>
                                            <div id="ollamaCheckDiv">
                                                <div id="ollamaTrafficLight" class="redLight"></div><div id="OllamaStatusLabel">Ollama Status</div>
                                            </div>
                                            <div id="ollamaModelDiv">
                                                <div id="ollamaModelTrafficLight" class="redLight"></div><div id="ollamaModelLabel">Model Downloaded</div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Privacy -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPrivacy">
                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrivacy" aria-expanded="false" aria-controls="collapsePrivacy">
                                <i class="bi bi-shield-lock"></i><b>Privacy</b>
                            </button>
                        </h2>
                        <div id="collapsePrivacy" class="accordion-collapse collapse" aria-labelledby="headingPrivacy" data-bs-parent="#settingsAccordion">
                            <div class="accordion-body">
                                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="left" title="Coming Soon!">
                                    <input class="form-check-input" type="checkbox" id="privateProfileCheck" disabled>
                                    <label class="form-check-label" for="privateProfileCheck">Private Profile</label>
                                </div>
                                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="left" title="Coming Soon!">
                                    <input class="form-check-input" type="checkbox" id="defaultSavedPostsCheck" checked disabled>
                                    <label class="form-check-label" for="defaultSavedPostsCheck">Default To Saved Posts</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Networking -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNetworking">
                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNetworking" aria-expanded="false" aria-controls="collapseNetworking">
                                <i class="bi bi-wifi"></i><span><b>Networking</b></span>
                            </button>
                        </h2>
                        <div id="collapseNetworking" class="accordion-collapse collapse" aria-labelledby="headingNetworking" data-bs-parent="#settingsAccordion">
                            <div class="accordion-body">
                                <p>Certain network ports must be open on your router for YourPlace to fully function</p>
                                <div id="yourplaceTrafficLight"></div><div id="connectivityStatusLabel"> = YourPlace Port (42424)</div><br>
                                <div id="ipfsTrafficLight"></div><div id="connectivityStatusLabel"> = IPFS Port (4001)</div>
                                <button class="btn btn-primary" id="retestPortsBtn">Retest Ports</button><br>
                            </div>
                        </div>
                    </div>
                    <!-- Blockchain -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBlockchain">
                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlockchain" aria-expanded="false" aria-controls="collapseBlockchain">
                                <i class="bi bi-link-45deg"></i><b><span>Blockchain</span></b>
                            </button>
                        </h2>
                        <div id="collapseBlockchain" class="accordion-collapse collapse" aria-labelledby="headingBlockchain" data-bs-parent="#settingsAccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-sm-8" id="blockchainGlobalSettingsDiv">
                                        <div class="form-check form-switch" id="indexerRun">
                                            <input class="form-check-input" type="checkbox" role="switch" id="indexerRunCheckbox">
                                            <label class="form-check-label" for="indexerRunCheckbox">Run Indexer</label>
                                        </div>
                                        <div class="form-check form-switch" id="indexerOnBatterySwitch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="indexerOnBatteryCheckbox">
                                            <label class="form-check-label" for="indexerOnBatteryCheckbox">Run Indexer On Battery</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5" id="indexerStatusDiv">
                                        <span>Indexer Status: </span><span id="indexerStatusText">stopped</span>
                                    </div>
                                </div>

                                <!-- Algorand -->
                                <!--<div class="row">
                                    <div class="col-sm-12 centerColumn">
                                        <div class="accordion accordion-flush" id="algorandAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingFour">
                                                    <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" disabled>
                                                        <b>Algorand</b>
                                                    </button>
                                                </h2>
                                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#algorandAccordion">
                                                    <div class="accordion-body">
                                                        <div class="form-check form-switch" id="algoFullNodeDiv">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="algoFullNodeCheckbox" disabled>
                                                            <label class="form-check-label" for="algoFullNodeCheckbox">Run Full Node</label>
                                                        </div>

                                                        <div class="form-check form-switch" id="algoFullIndexerDiv">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="algoFullIndexerCheckbox" disabled>
                                                            <label class="form-check-label" for="algoFullIndexerCheckbox">Run Full Indexer</label>
                                                        </div>

                                                        <label for="algodServer" class="form-label">Algod Server</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="algodServer">
                                                        </div>

                                                        <label for="algodToken" class="form-label">Algod Token</label>
                                                        <div class="input-group mb-3">
                                                            <input type="password" class="form-control" id="algodToken">
                                                        </div>

                                                        <label for="indexerServer" class="form-label">Algorand Indexer Server</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="indexerServer">
                                                        </div>

                                                        <label for="indexerToken" class="form-label">Algorand Indexer Token</label>
                                                        <div class="input-group mb-3">
                                                            <input type="password" class="form-control" id="indexerToken">
                                                        </div>

                                                        <div>
                                                            <button class="btn btn-primary" id="defaultServicesBtn">Default</button>
                                                            <button class="btn btn-primary" id="saveServicesBtn">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <!-- Base -->
                                <div class="row">
                                    <div class="col-sm-12 centerColumn">
                                        <div class="accordion accordion-flush" id="baseAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingBase">
                                                    <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBase" aria-expanded="false" aria-controls="collapseBase">
                                                        <img src="/static/image/coinbase-base.svg" class="settingsBlockchainImg" alt=""><b>Base</b>
                                                    </button>
                                                </h2>
                                                <div id="collapseBase" class="accordion-collapse collapse" aria-labelledby="headingBase" data-bs-parent="#baseAccordion">
                                                    <div class="accordion-body">
                                                        <div id="baseFullNodeDiv">
                                                            <div class="form-check form-switch" id="baseFullNodeSwitch">
                                                                <input class="form-check-input" type="checkbox" role="switch" id="baseFullNodeCheckbox" disabled>
                                                                <label class="form-check-label" for="baseFullNodeCheckbox">Run Full Node</label>
                                                            </div>
                                                            <div id="baseFullNodeDataDirectoryDiv">
                                                                <label for="baseDataDirectory" class="form-label">Node Data Directory</label>
                                                                <div class="input-group mb-3" id="baseFullNodeInputDiv">
                                                                    <input type="text" class="form-control" id="baseDataDirectory">
                                                                    <button class="btn btn-primary btn-outline-secondary" id="baseDefaultDataDirectoryBtn" type="button">Default</button>
                                                                    <button class="btn btn-primary btn-outline-secondary" id="baseSaveDataDirectoryBtn" type="button">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <hr /><!-- ----------------------------------- -->
                                                        <label for="baseURL" id="baseUrlLabel" class="form-label">Base RPC URL</label>
                                                        <div class="input-group mb-3" id="baseUrlInputDiv">
                                                            <input type="text" class="form-control" id="baseURL">
                                                            <button class="btn btn-primary btn-outline-secondary" id="defaultBaseURLBtn" type="button">Default</button>
                                                            <button class="btn btn-primary btn-outline-secondary" id="saveBaseURLBtn" type="button">Save</button>
                                                        </div>

                                                        <label for="baseThrottle" class="form-label" id="baseThrottleLabel">Server Throttle: <div id="baseThrottleNumber"></div> Requests-Per-Second</label>
                                                        <div class="input-group mb3">
                                                            <datalist id="baseThrottleMarkers">
                                                                <option value="0" label="0"></option>
                                                                <option value="10" label="10"></option>
                                                                <option value="50" label="50"></option>
                                                                <option value="100" label="100"></option>
                                                                <option value="250" label="250"></option>
                                                                <option value="500" label="500"></option>
                                                                <option value="1000" label="1000"></option>
                                                                <option value="2000" label="2000"></option>
                                                                <option value="5000" label="5000"></option>
                                                            </datalist>
                                                            <input type="range" class="form-range" id="baseThrottle" min="0" max="5000" step="10" value="10" list="baseThrottleMarkers">
                                                            <div id="baseThrottleTooltip" class="rangeTooltip" role="tooltip">
                                                                <div class="throttle-tooltip-inner"></div>
                                                                <div class="throttle-tooltip-arrow"></div>
                                                            </div>
                                                        </div>

                                                        <hr /><!-- ----------------------------------- -->
                                                        <label for="baseIndexerProgress" class="form-label" id="baseIndexerProgressLabel">Indexer Progress:</label>
                                                        <div class="progress" id="baseIndexerProgressDiv">
                                                            <div id="baseIndexerProgressUncachedTail" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                            <div id="baseIndexerProgressCached" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span id="baseIndexerCachedPercent">80%</span></div>
                                                            <div id="baseIndexerProgressUncachedHead" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>

                                                        <div id="baseIndexerReset">
                                                            <button class="btn btn-primary" id="baseIndexerResetBtn">Reset Indexer</button>
                                                        </div>

                                                        <hr /><!-- ----------------------------------- -->
                                                        <label class="form-label" for="postHistoryDays" id="postHistoryDaysLabel">Post History To Keep (days)</label>
                                                        <div class="input-group mb3">
                                                            <input type="number" class="form-control" id="postHistoryDays" placeholder="Days" min="1" max="365" step="1" data-bind="value:postHistoryDays" />
                                                            <button class="btn btn-primary" id="savePostHistoryDaysBtn">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Server Info -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingServerInfo">
                            <button class="accordion-button button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#serverInfo" aria-expanded="false" aria-controls="serverInfo">
                                <i class="bi bi-info-circle"></i><b><span>Server Info</span></b>
                            </button>
                        </h2>
                        <div id="serverInfo" class="accordion-collapse collapse" aria-labelledby="headingServerInfo" data-bs-parent="#settingsAccordion">
                            <div class="accordion-body" id="serverInfoAccordionBody">
                                <div class="container">
                                    <div class="row">
                                        <div id="switchCol" class="col">
                                            <div class="form-check form-switch" id="serverDebugMode">
                                                <input class="form-check-input" type="checkbox" role="switch" id="serverDebugModeCheckbox">
                                                <label class="form-check-label" for="serverDebugModeCheckbox">Debug Mode</label>
                                            </div>
                                        </div>

                                        <div id="serverUpdateDiv" class="col">
                                            <button class="btn btn-primary btn-outline-secondary" id="serverUpdateBtn" type="button"><i class="bi bi-cloud-download"></i><span>Check For Updates</span></button>
                                            <button class="btn btn-primary btn-outline-secondary" id="serverUninstallBtn" type="button"><i class="bi bi-trash"></i><span>Uninstall</span></button>
                                        </div>

                                        <div id="versionCol" class="col">
                                            <div id="serverVersionDiv">
                                                <span id="serverVersionLabel">Server Version:</span>
                                                <span id="serverVersionText">?</span>
                                            </div>
                                            <div id="helperVersionDiv">
                                                <span id="helperVersionLabel">Helper Version:</span>
                                                <span id="helperVersionText">?</span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row align-items-start">
                                        <div id="logsDiv">
                                            <button class="btn btn-primary btn-outline-secondary" id="serverLogsViewBtn" type="button">Server Logs</button>
                                            <button class="btn btn-primary btn-outline-secondary" id="helperLogsViewBtn" type="button">Helper Logs</button>
                                            <div id="logsView" class="hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    {{template "footer" .}}
    <!-- Injected Variables -->
    <input type="hidden" id="csrfToken" value="{{ .csrfToken }}">
    <input type="hidden" id="isCookieAuthenticated" value="{{ .isCookieAuthenticated }}">
</body>
</html>