@use "sass:map";
@use "../global.scss";

#tip {
  padding-top: 10%;
  color: map.get(global.$colors, "text");
  font-size: 30px;
  text-align: center;
  width: 100%;
}
#centerColumn {
  padding-top: 15%;
}
button.mentalHealthBtn {
  width: 3em;
  height: 3em;
}
button.mentalHealthBtn.pressed {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
  background-color: map.get(global.$colors, "primary");
  opacity: 0.6;
}
i.mentalHealthBtnIcon {
  font-size: 1.5em;
}
#emergencyBtn {
  margin-left: calc(50% - 6.5em);
}
.obviousLink {
  color: #545eff;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.obviousLink:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}