@use "sass:map";
@use "../global.scss";

#settingsAccordion {
  padding-top: 1.5em;
}
button.accordion-button {
  border-radius: 1em !important;
  margin-bottom: 0.5em;
}
.container {
  padding: 15px 0 0 0;
}
.accordion, .accordion-item {
  width: 100%;
}
.accordion-button.button {
  background-color: map.get(global.$colors, "secondary");
  color: map.get(global.$colors, "text");
}
.accordion-body, .accordion-collapse {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}
.redLight {
  background-color: hsla(0, 50%, 50%, 1);
}
.yellowLight {
  background-color: hsla(45, 50%, 50%, 1);
}
.greenLight {
  background-color: hsla(125, 70%, 45%, 1);
}
i.bi {
  padding-right: .6em;
}
#ollamaCheckDiv {
  float: left;
  padding-top: 1.5em;
}
#ollamaModelDiv {
  float: left;
  padding-left: 2em;
  padding-top: 1.5em;
}
#ollamaTrafficLight,
#ollamaModelTrafficLight {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  position: relative;
  left: calc(50% - .5em);
}
#yourplaceTrafficLight,
#ipfsTrafficLight {
  height: 1.5em;
  width: 1.5em;
  background-color: hsla(0, 50%, 50%, 1);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: .4em;
}
#connectivityStatusLabel {
  padding: 0 0 0 10px;
  margin: 0 0 0 0;
  display: inline-block;
  position: relative;
  height: 25px;
}
#retestPortsBtn {
  position: relative;
  float: right;
}
#networkingDescription {
  position: relative;
  margin-top: 10px;
}
#defaultUploadDirectoryBtn {
  position: relative;
  float: left;
  margin: 0 0 10px 0;
  width: 100px
}
#saveUploadDirectoryBtn {
  position: relative;
  margin: 0 0 10px 10px;
  width: 100px;
}
#ipfsPinningUrlUL {
  background-color: global.$secondary;
}
.ipfsPinningLI {
  padding-left: 0.5em;
  &:hover {
    background-color: global.$primary;
    text-underline: global.$text;
    cursor: pointer;
  }
}
.ipfsPinningIcon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  position: relative;
  top: -0.12em;
}
#ipfsHelp {
  position: relative;
  top: 0.1em;
  padding-left: 0.3em;
  color: global.$text;
}
#ipfsPinningUrlBtn {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#ipfsPinningKey {
  margin-left: 1em;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
#saveIpfsPinningBtn,
#removeIpfsPinningBtn {
  width: 100px;
}
#ipfsNodeLinkDiv {
  margin-top: 1em;
}
#ipfsNodeLink > span {
  margin-left: 0.4em;
}
#ipfsSvg {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: -0.05em;
}
#aiModelDropdown {
  margin-top: 20px;
}
#blockchainGlobalSettingsDiv {
  padding-bottom: 1em;
}
#indexerStatusDiv {
  float: right;
  width: 10em;
  height: 5em;
  text-align: center;
}
.settingsBlockchainImg {
  width: 2em;
  height: 1em;
  padding-right: 0.5em;
}
#baseFullNodeDataDirectoryDiv {
  display: none;
  padding-top: 10px;
  padding-left: 45px;
}
#baseIndexerProgressDiv,
#algoIndexerProgressDiv {
  margin-bottom: 2em;
}
#baseIndexerProgressCached,
#algoIndexerProgressCached {
  background-color: global.$quaternary;
}
#baseThrottleNumber,
#algoThrottleNumber {
  display: inline;
  font-weight: bold;
}
.throttleLabel {
  white-space: nowrap;
}
.indexerBtns {
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.indexerCatchUpDropdown {
  display: inline-block;
}
#baseIndexerCatchUpHelpIcon,
#algoIndexerCatchUpHelpIcon {
  padding-left: 0.5em;
}
.indexerStatusLight {
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  top: 0.1em;
}
#baseFullNodeInputDiv, #baseUrlInputDiv {
  padding-bottom: 10px;
}
.rangeTooltip {
  display: none;
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
}
.throttle-tooltip-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000;
  transform: rotate(45deg);
  bottom: -4px;
  left: calc(50% - 4px);
}
#postHistoryDays {
  max-width: 110px;
}
#serverInfoAccordionBody {
  padding: 0;
}
#serverVersionDiv {
  float: right;
  position: relative;
}
#helperVersionDiv {
  float: right;
  position: relative;
}
#serverUpdateDiv {
  width: 100%;
  text-align: center;
}
#serverUpdateBtn {
  position: relative;
  margin-top: 0.5em;
}
#serverUninstallBtn {
  margin-top: 0.5em;
}
#uninstallTitle {
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-weight: bold;
}
#serverLogsViewBtn {
  margin: 1em 0 1em 0;
}
#logsView {
  padding: 0.5em;
  border: 1px solid global.$text;
  border-radius: 1em;
  white-space: pre;
  text-wrap: wrap;
}
.settingsServiceImg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
.serviceStatusLight {
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
}
.xcomDescription {
  color: global.$text;
  margin-bottom: 1em;
}
#saveXcomCredentialsBtn,
#removeXcomCredentialsBtn,
#saveXcomScrapeCredentialsBtn,
#removeXcomScrapeCredentialsBtn,
#testXcomCredentialsBtn,
#testXcomScrapeCredentialsBtn {
  width: 100px;
}
#xcomCredentialsDiv input:disabled,
#xcomCredentialsBtns button:disabled,
#xcomScrapeCredentialsDiv input:disabled,
#xcomScrapeCredentialsBtns button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}