{{define "footer"}}<footer>
    <p id="footerText">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> YourPlace, Inc.</p>
    <a href="https://yourplace.network" target="_blank" id="footerLink">YourPlace.Network</a>
</footer>{{end}}