{{define "footer"}}<footer>
    <span><span id="footerText">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script> YourPlace, Inc.</span> | <a href="https://yourplace.network" id="footerLink"><u>YourPlace.Network</u></a> | <span id="footerSocials"><a href="https://app.yourplace.network/p/yourplace.base.eth"><img class="profileFooterImg" src="/static/image/yourplace-logo.svg" alt="YourPlace Profile"></a><a href="https://x.com/YourPlace_Inc" target="_blank"><img class="profileFooterImg" src="/static/image/x.svg" alt="X Profile"></a></span></span>
</footer>{{end}}