{{define "header"}}<!DOCTYPE html>
<html lang="en-US">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TCHR7RGE46"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-TCHR7RGE46');</script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="name" content="{{.title}}" />
    <title>{{.title}}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    {{with asset "runtime.js"}}{{if .}}<script src="{{.}}" type="application/javascript"></script>{{end}}{{end}}
    {{with asset "vendors.js"}}{{if .}}<script src="{{.}}" type="application/javascript"></script>{{end}}{{end}}
    {{with asset "common.js"}}{{if .}}<script src="{{.}}" type="application/javascript"></script>{{end}}{{end}}
    <script src="{{asset (printf "%s.js" .pageName)}}" type="application/javascript"></script>
</head>{{end}}