{{define "htmlMenu"}}<div class="offcanvas offcanvas-end" tabindex="-1" id="htmlMenuOffcanvas" data-bs-scroll="false"
                          aria-labelledby="htmlMenuOffcanvas" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="offcanvas-header d-flex align-items-center" id="menuOffcanvasHeader">
            <a href="/p/" class="grow cursorPointer">
                <img src="/static/image/avatar.png" id="menuAvatar" alt="avatar" crossorigin="anonymous" referrerpolicy="no-referrer">
            </a>
            <button class="btn btn-primary" id="menuLoginBtn">Login</button>
        </div>
        <div class="offcanvas-body flex">
            <a href="https://yourplace.network" class="menuItemA" target="_blank">
                <div id="menuHome" class="menuItemDiv grow cursorPointer">🏠 Home</div>
            </a>
            <a href="/" class="menuItemA">
                <div id="menuBrowse" class="menuItemDiv grow cursorPointer">🔍 Browse</div>
            </a>
            <a href="/settings" class="menuItemA" id="menuSettingsLink">
                <div id="menuSettings" class="menuItemDiv grow cursorPointer">⚙️ Settings</div>
            </a>
            <a href="/mentalHealth" class="menuItemA">
                <div id="menuMentalHealth" class="menuItemDiv grow cursorPointer">🧠 Mental Health</div>
            </a>
            <a href="/faq" class="menuItemA">
                <div id="menuFAQ" class="menuItemDiv grow cursorPointer">🙋 FAQ</div>
            </a>
            <a href="https://github.com/YourPlace-Network/Server/issues/new?template=bug_report.md" class="menuItemA" target="_blank">
                <div id="menuBug" class="menuItemDiv grow cursorPointer">🪲 Report Bug</div>
            </a>
            <a href="https://yourplace.network/about/" class="menuItemA" target="_blank">
                <div id="menuabout" class="menuItemDiv grow cursorPointer">ℹ️ About</div>
            </a>
        </div>
    </div>
    <button class="btn grow" id="htmlMenu" data-bs-toggle="offcanvas" data-bs-target="#htmlMenuOffcanvas" aria-controls="offcanvasWithBothOptions">
        <i class="bi bi-list"></i>
    </button>
    <input type="hidden" id="gatewayMode" value="{{ .gatewayMode }}">
{{template "modalLogin" .}}{{end}}