{{define "modalMediaViewer"}}<div class="modal" id="modalMediaViewer" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div id="mediaDiv">
                    <!-- domFactory appends media here -->
                </div>
            </div>
        </div>
    </div>
</div>{{end}}