{{define "modalYesNo"}}<div class="modal" id="modalYesNo" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="modalYesNoBody">
                <div id="modalYesNoContent"></div>
            </div>
            <div class="modal-footer" id="modalYesNoFooter">
                <button type="button" class="btn" id="modalYesButton"><i class="bi bi-hand-thumbs-up"></i>&nbsp;Yes</button>
                <button type="button" class="btn" id="modalNoButton"><i class="bi bi-hand-thumbs-down"></i>&nbsp;No</button>
            </div>
        </div>
    </div>
</div>{{end}}