{{define "modalYesNo"}}<div class="modal" id="modalYesNo" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalYesNoContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalNoButton">No</button>
                <button type="button" class="btn btn-primary" id="modalYesButton">Yes</button>
            </div>
        </div>
    </div>
</div>{{end}}