{{define "modalFileUpload"}}<div class="modal" id="modalFileUpload" tabindex="-1" aria-labelledby="modalFileUploadTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFileUploadTitle">Add Files</h5>
            </div>
            <div class="modal-body">
                <div class="modalBodyLeft">
                    <div class="mb-3">
                        <input class="form-control" type="file" id="modalFileInput" multiple>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Visibility</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="modalFileVisibility" id="modalFileVisibilityPublic" value="public" checked>
                            <label class="form-check-label" for="modalFileVisibilityPublic">Public</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="modalFileVisibility" id="modalFileVisibilityPrivate" value="private">
                            <label class="form-check-label" for="modalFileVisibilityPrivate">Private</label>
                        </div>
                    </div>
                    <div id="modalFileUploadList" class="modalFileUploadList"></div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary d-inline-flex align-items-center justify-content-center gap-2" id="modalFileUploadSubmit">
                            <i class="bi bi-upload modalFileUploadSubmitIcon"></i>
                            <span>Upload Files</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{{end}}
