{{define "modalDialog"}}<div class="modal" id="modalDialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="modalDialogContent"></div>
            <button type="button" class="btn btn-secondary yp-modal-btn" data-bs-dismiss="modal">Ok</button>
        </div>
    </div>
</div>{{end}}