<div class="post border">
    <input type="hidden" class="postID">
    <input type="hidden" class="postAddress">
    <input type="hidden" class="postBlockchain">
    <div class="postAvatar">
        <img class="postAvatarImg">
    </div>
    <div class="postHeaderDiv">
        <div class="postAuthor"></div>
        <div class="postBreak"> - </div>
        <div class="postDate"></div>
        <i class="bi bi-three-dots postContextIcon"></i>
    </div>
    <p class="postText"></p>
    <div class="postEmbedDiv"></div>
    <div class="postReactionDiv"></div>
</div>
